.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.modal_opened {
  display: flex;
}

.modal__container {
  position: fixed;
  margin: auto;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 34px 36px 36px 36px;
}

.modal__edit-name {
  max-width: 330px;
  height: 23px;
  margin: 0;
  padding-bottom: 54px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
}
.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.modal__input {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  margin-bottom: 30px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.modal__button-submit {
  width: 100%;
  height: 50px;
  background-color: #000;
  color: #fff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  border: none;
}

.modal__button-submit:hover {
  opacity: 0.8;
  cursor: pointer;
}

.modal__button-close {
  background: transparent url(../images/close-icon.svg) center no-repeat;
  position: absolute;
  right: -35px;
  top: -40px;
  height: 40px;
  width: 40px;
  border: none;
  padding: 0;
}

.modal__button-close:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 620px) {
  .modal__container {
    max-width: 282px;
    padding: 25px 22px;
    top: 123px;
  }

  .modal__edit-name {
    font-size: 18px;
    padding-bottom: 75px;
  }

  .modal__input {
    font-size: 14px;
  }

  .modal__button-submit {
    height: 46px;
    font-size: 14px;
  }

  .modal__button-close {
    height: 26px;
    width: 26px;
    top: -14;
    right: 0;
  }
}
