.page {
  background-color: #000000;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media screen and (max-width: 1100px) {
  .page__content {
    margin: 0 10px;
    max-width: calc(100 - 20px);
  }
}
