.profile {
  padding: 5% 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile__content {
  display: flex;
  align-items: center;
}

.profile__pic {
  border-radius: 50%;
  padding-right: 5%;
  max-width: 169px;
}

.profile__title {
  /* width: 373px; */
}

.profile__name {
  color: #fff;
  margin: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.2;
  white-space: nowrap;
}

.profile__subtitle {
  color: #fff;
  margin: 5% 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
}

.profile__edit {
  border: #545454 1px solid;
  width: 10px;
  height: 10px;
  padding: 7px;
}

.profile__add {
  border: #545454 2px solid;
  width: 18px;
  height: 18px;
  padding: 14px 64px;
}
